.navContainer {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  .poweredHeading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    color: #838383;
  }
  .spanElementStyling {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 00;
    font-size: 23px;
    color: #390099;
  }
  .spanContainer {
    padding: 0px;
    margin-right: 30px;
  }
  .binoStyling {
    margin-left: 30px;
    width: 200px;
  }
  @media screen and (max-width: 576px) {
    .spanContainer {
      margin-right: 10px;
    }
    .binoStyling {
      margin-left: 10px;
      width: 120px;
    }
    .spanElementStyling {
      font-size: 18px;
    }
    .poweredHeading {
      font-size: 18px;
    }
  }